//haciendo uso de variables con sass
// paleta de colores
$color-background: rgba(209, 34, 28, 0.397);
$color-navbar: rgba(240, 204, 204, 0.796);
$color-menu: #645c5c;
$mouse: rgba(241, 229, 214, 0.863);
$color-harvard: rgb(131, 21, 17);
$bg-id: rgba(255, 238, 238, 0.973); ;
