@import "../../base/variables";

nav {
	background-color: $color-navbar;
}
//ocupo selector tipo >
a > span {
	color: $color-harvard;
}
//ocupo selector de pseudoclase :hover
a > span:hover {
	color: $color-background;
}
