@import "../../base/variables";
header {
	color: white;
	@media screen and (max-width: 992px) {
		section {
			display: none;
		}
	}
}
h1 {
	color: inherit;
	font-size: 25px;
	margin-top: 0px;
}
header p {
	color: inherit;
	font-style: italic;
	animation-duration: 2s;
	animation-name: slidein;
}
// tomado de https://developer.mozilla.org/es/docs/Web/CSS/CSS_Animations/Usando_animaciones_CSS
@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}

h5 > a {
	color: $color-menu;
}
h5 > a:hover {
	color: $color-background;
}

.card {
	border-radius: 10px;
	animation-duration: 3s;
	animation-name: slidein;
	background-color: $color-navbar;
}

.card-body:hover {
	background-color: $mouse;
	border-radius: 10px;
}
